
.App {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #F2F4F3;
}

.App-header {
  background-color: rgb(88, 155, 88);
  display: flex;
  min-height: 10vh;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  /* flex-direction: column; */
  align-items: center;
  color: white;
  /* text-align: left; */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.app-body-container {
  background-color:#F2F4F3;
  color: black;
  min-height: 100vh;
  height: 100vh;
  overflow: auto; 
  margin-left: 100px

}

/* .App-sidebar{
  background-color: blue;
  display: flex;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  flex-direction: column;
  align-items: center;
  color: white;
} */

/* .App-sidebar {
    
  margin-right:50px;
  width:200px;
  position: fixed;
  left: 0;
  top:0;
  height: auto;
  z-index: 999;
  background-color:  rgb(19, 105, 19);
  color: #fff;
  height:100vh !important;
  text-align: center;
} */


#sidebar {
    
  margin-right:50px;
  width:200px;
  position: fixed;
  left: 0;
  top:0;
  height: 100vh;
  z-index: 999;
  background:  rgb(88, 155, 88);
  color: #fff;
  /* height:100vh !important; */
  text-align: center;
}

#homeSubmenu {
  text-align: center;
  margin-top: 100px

}
.wrapper {
    
  width: 100%;
}

.card-style {
  background-color: blue;
  margin-left: 100px;
  width: 320px
}

#btn {
  background-color: white;
  color: black;
  width:flex;
  margin-top: 10px;
}

#btn-two{
  color:white;
  width: flex;
}

#br{
  color: white;
}

.header-name{
  color:black;
  text-align:center;
  font-size: 2.5em;
  font-family:'Times New Roman', Times, serif;
}

.p {
  color:black;
  font-size: 100px;
  
}

#form{
  background-color: rgb(88, 155, 88);
  color:white;
}

#eventpage{
  background-color:white;
}